apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - secrets.yaml
  - postgres.yaml
  - ingress.yaml

namespace: budget-app

commonLabels:
  app.kubernetes.io/name: budget-app
  app.kubernetes.io/part-of: budget-app